.navbar{
  display: flex;
  background-color: black;
  width: 1366px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;

  nav{
    width: 350px;
    display: flex;
    align-items: center;

    ul{
      display: flex;
      align-items: center;

      li{
        flex-direction: row;
        padding-right: 25px;

        a{
          color: whitesmoke;
          text-decoration: none;
        }
      }
    }
  }

}

.overlay{
  position: relative;
  height: 700px;
  width: 1366px;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;

  .hero-section{
    width: 1250px;
    height: 702px;
  }
}

.about-me{
  height: 105vh;
  width: 1366px;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  padding-left: 150px;
  font-family: 'Poppins', sans-serif;

  h1{
    position: absolute;
    bottom: -120px;
    left: 540px;
    font-size: 50px;
    text-decoration: underline;
  }

  .about-info{
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 20px;
    height: 500px;
    width: 500px;

    p{
      line-height: 25px;
      font-weight: 500;
    }
  }

  .about-img{
    border-radius: 10px;
    margin-top: 20px;
    height: 500px;
    background-image: url('../images/graphic-design.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    width: 500px;
    margin-left: 200px;
    z-index: 1;
  }

  .background-overlay{
    height: 500px;
    width: 500px;
    background-color:  black;
    position: relative;
    right: 390px;
    bottom: 25px;
    z-index: 0;
    border-radius: 10px;
  }
}

.portfolio-section{
  border: solid red 2px;
  height: 800px;
  font-family: 'Poppins', sans-serif;
  text-align:  center;

  h1{
    font-size: 40px;
    margin-top: 40px;
  }

  .projects{
    border: 2px solid blue;
    margin-top: 40px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;

    .project{
      border: 2px solid red;
      height: 200px;
      width: 200px;
      margin-right: 20px;
    }
  }
}
